<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>The Graphic Design Portfolio of @name</title>
		<meta name="description" content="A Graphic Design portfolio from Melbourne, Australia. Features selected graphic design projects created between 2005 and 2007. Holla.">
		<meta name="keywords" content="portfolio, design, graphic design, print, web, melbourne, australia">
		<meta name="designer" content="Anthony Kolber">
		<meta name="robots" content="index, follow">
		<meta name="robots" content="all">
		    
    <link rel="alternate" type="application/atom+xml" href="@root_path/feed/">
		<link rel="stylesheet" href="/docs/css/display-screen.css" type="text/css" media="screen">
	</head>
	<body>
		<div id="container">
			<img src="/images/ae_logo.png" alt="Aesthetically Loyal logo">
			<h1>Aesthetically Loyal</h1> 
			<h2>Portfolio<span class="date">@current_year</span></h2>
			<div id="pullout-information"><img src="/images/soon_writings.png" alt="View writings"></div>
			<p class="site-description">Things created between two thousand and three and two thousand and nine.</p>
			<h3>Projects<span class="count">0</span></h3>
			<p class="subheader">Search keywords: <input type="text" id="keyword-delimit"></p>
			:category-list
			<h3>Contact</h3>
			<p class="subheader">Anthony Kolber <span>Graphic Designer</span></p>
			<div class="column">
				<h4>Information</h4>
				@information
				<p>-</p>
				<p><a href="/more-information/">More Information</a></p>
			</div>
			<div class="column">
				<h4>About The Work</h4>
				@about_the_work
			</div>
			<div class="column">
				<h4>Email</h4>
				<p><a href='&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#97;&#101;&#64;&#97;&#101;&#115;&#116;&#104;&#101;&#116;&#105;&#99;&#97;&#108;&#108;&#121;&#108;&#111;&#121;&#97;&#108;&#46;&#99;&#111;&#109;'>&#97;&#101;&#64;&#97;&#101;&#115;&#116;&#104;&#101;&#116;&#105;&#99;&#97;&#108;&#108;&#121;&#108;&#111;&#121;&#97;&#108;&#46;&#99;&#111;&#109;</a></p>
				<h4>Del.icio.us</h4>
				<p><a href="http://del.icio.us/kolber" rel="external">http://del.icio.us/kolber</a></p>
				<h4>Del.icio.us Favourites</h4>
				<p><a href="http://del.icio.us/kolber/A" rel="external">http://del.icio.us/kolber/A</a></p>
				<h4>Content managed by</h4>
				<p><a href="http://staceyapp.com">http://staceyapp.com</a></p>
			</div>
			<div id="footer"><p>All work &copy; @name.</p></div>
		</div>
		<script type="text/javascript"> var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www."); document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E")); </script>
		<script type="text/javascript"> var pageTracker = _gat._getTracker("UA-959027-1"); pageTracker._initData(); pageTracker._trackPageview(); </script>
		<script src="/docs/js/jquery-1.2.1.js" type="text/javascript"></script>
		<script src="/docs/js/track-outgoing.js" type="text/javascript"></script>
		<script src="/docs/js/delimit-search.js" type="text/javascript"></script>
	</body>
</html>