<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
	<head>
	  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>More Information - The Graphic Design Portfolio of Anthony Kolber</title>
		<meta name="description" content="A collection of the Graphic Design work of Anthony Kolber (Melbourne, Australia) created between 2005 and 2007.">
		<meta name="keywords" content="portfolio, design, graphic design, print, web, melbourne, australia">
		<meta name="designer" content="Anthony Kolber">
		<meta name="robots" content="index, follow">
		<meta name="robots" content="all">
		
		<link rel="alternate" type="application/atom+xml" href="@root_path/feed/">
		<link rel="stylesheet" href="/docs/css/more-info-screen.css" type="text/css" media="screen">
	</head>
	<body>
		<a href="/">&larr; Back</a>
		<img src="/images/more_info.jpg">
		<script type="text/javascript"> var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www."); document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E")); </script>
		<script type="text/javascript"> var pageTracker = _gat._getTracker("UA-959027-1"); pageTracker._initData(); pageTracker._trackPageview(); </script>
	</body>
</html>